<template name="admin">
	<div class="row">
		<div class="col-md-2">
			<div class="btn-group-vertical" role="group"> 
  			<a href="{{ pathFor 'admin' adminType='user-admin' }}"
    			role="button" 
          data-route="{{userAdminTemplateName}}"
    			class="btn btn-default btn-admin-route {{ isActive userAdminTemplateName }}">
    					User management
        </a>
        <a href="{{ pathFor 'admin' adminType='transaction-admin' }}"
          role="button" 
          data-route="{{transactionAdminTemplateName}}"
    			class="btn btn-default btn-admin-route {{ isActive transactionAdminTemplateName }}">
    					Transaction management
        </a>
        <a href="{{ pathFor 'admin' adminType='ad-admin' }}"
          role="button" 
          data-route="{{adAdminTemplateName}}"
    			class="btn btn-default btn-admin-route {{ isActive adAdminTemplateName }}">
    					Ad management
        </a>
			</div>
		</div>
		<div class="col-md-10">	
			{{> Template.dynamic template=templateName }}	
		</div>
	</div>
</template>