<template name="buy">
	{{>filterInfo}}
	{{#each phoneRows}}
			<div class="row">
			{{#each row}}
				<div class="col-md-3">
					<div class="thumbnail hiddenAd">
				      <!-- <img src="..." alt="..."> -->
				      <div class="caption">
				        <h3>{{model}} - {{company}}</h3>
				        <p>Storage (GB): {{storage}}</p>
				        <p>Color: {{color}}</p>
				        <p style="color:gray;font-size:75%">Posted by {{email}}</p>
				        <p><a href="{{pathFor 'adPage'}}" class="btn btn-primary" role="button">Buy this phone</a></p>
				      </div>
				    </div>
				</div>
			{{/each}}
			</div>
			{{initializeAds}}
	{{/each}}
</template>