<template name="buy">
	{{>filterInfo}}
	{{#each phoneRows}}
			<div class="row">
			{{#each row}}
				<div class="col-md-3">
					<div class="thumbnail">
				      <!-- <img src="..." alt="..."> -->
				      <div class="caption">
				        <h3>{{model}} - {{company}}</h3>
				        <p>Storage (GB): {{storage}}</p>
				        <p>Color: {{color}}</p>
				        <p style="color:gray;font-size:75%">Posted by {{username}}</p>
				        <p><a href="#" class="btn btn-primary" role="button">Buy this phone</a></p>
				      </div>
				    </div>
				</div>
			{{/each}}
			</div>
	{{/each}}
</template>