<template name="sellCondition">
	<div class="row">
		<h3>Phone Condition</h3>
	</div>
	
	<form>
		{{#each conditions}}
			<div class="row">
				<p>{{title}}</p>
			</div>
			<div class="row">
				<select id="{{id}}">
					{{#each form}}
						<option value="{{form_val}}">{{real_val}}</option>
					{{/each}}
				</select>
			</div>
		{{/each}}
		<div class="row">
			Price:
			<input id="phonePrice" type="number" name="phonePrice" />
		</div>
		{{#if priceSet}}
		<div class="row">
			<button id="nextCondition" type="button" class="btn btn-default">Next</button>
		</div>
		{{/if}}
	</form>
</template>