<template name="sellAuth">
	<div class="row">
		<p>Please Log In, or Register below.</p>
	</div>
	<div class="row">
		<h4>Registration</h4>
	</div>
	<form>
		<div class="row">
			<div class="form-group">
				<label for="inputUsername">Username</label>
				<input type="text" class="form-control" id="inputUsername" placeholder="Rayceo">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input type="email" class="form-control" id="inputEmail" placeholder="Ray@tulip.ceo">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="alenotceo">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="inputRePassword">Re-enter Password</label>
				<input type="password" class="form-control" id="inputRePassword" placeholder="alenotceo">
			</div>
		</div>
		<div class="row">
			<button id="nextAuth" type="submit" class="btn btn-default">Next</button>
		</div>
	</form>
</template>