<template name="profile">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Profile page</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-mid-12">
				<h3>Welcome, {{ username }}</h3>
			</div>
		</div>
		{{#if isInRole 'admin' }}
		<div class="row">
			<div class="col-mid-12">
				<h5>Role: Admin</h5>
			</div>
		</div>
		{{/if}}
		<div class="row">
			Transactions
		</div>
		<div class="row">
			Personal info
		</div>
		<div class="row">
			blablabla
		</div>
	</div>
	
</template>